{% import 'functions.html' as func %}
{% set uniquename = func.random_var(10) %}
<ons-navigator id="artistNavigator">
<ons-page>
<script>
var {{uniquename}}_allartists = {{ json_artists|safe }}

var {{uniquename}}_allregion
var {{uniquename}}_alltype

function get_allregiontype() {
    {{uniquename}}_allregion = {{uniquename}}_allartists.map( function(i){return i.region} )
        .filter( function(v,i,self) { return v!='' && self.indexOf(v) === i; })
        .sort()

    {{uniquename}}_alltype = {{uniquename}}_allartists.reduce( function(total, v) {
        if(v.region!='' && v.type!='') {
            if(!total.hasOwnProperty(v.region)) total[v.region]=new Set()
            total[v.region].add(v.type)
        }
        return total
    }, {})

    // load the region dropdown
    $('#search_text').prop('value', '')
    search_region_list=$('#search_region_list')
    search_region_list.empty()
    temp=[''].concat({{uniquename}}_allregion)
    temp.forEach( function(item) {
        list_item = $(
            '<ons-list-item tappable value="' + item + '">' +
                '<div class="left">' +
                    '<ons-radio name="search_region" input-id="r-' + item + '" value="' + item + '"></ons-radio>' +
                '</div>' +
                '<label class="center" for="r-' + item + '">' +
                    (item || '{{_('All Artist')}}') +
                '</label>' +
            '</ons-list-item>'
        )
        list_item.bind('change', search_region_change)
        search_region_list.append(list_item)
    })
    $('ons-radio[input-id="r-"]').prop('checked', true)

    // load the type dropdown
    search_type_list=$('#search_type_list')
    search_type_list.empty()
    type_set=new Set([''])
    for(key in {{uniquename}}_alltype) {
        {{uniquename}}_alltype[key].forEach(type_set.add, type_set)
    }
    Array.from(type_set).sort().forEach( function(item) {
        list_item = $(
            '<ons-list-item tappable value="' + item + '">' +
                '<div class="left">' +
                    '<ons-radio name="search_type" input-id="t-' + item + '" value="' + item + '"></ons-radio>' +
                '</div>' +
                '<label class="center" for="t-' + item + '">' +
                (item || '{{_('All Category')}}') +
                '</label>' +
            '</ons-list-item>'
        )
        list_item.bind('change', search_input_change)
        search_type_list.append(list_item)
    })
    $('ons-radio[input-id="t-"]').prop('checked', true)

    search('', '', '')
}

function search(search, region, type) {
    if(search==='' && region==='' && type==='') {
        artists={{uniquename}}_allartists
    } else {
        search=search.toUpperCase()
        artists=[]
        {{uniquename}}_allartists.forEach( function(item) {
            if( (search==='' || item['search'].indexOf(search)===0 || item['name'].toUpperCase().indexOf(search)>0) &&
                (region==='' || region===item.region) && (type==='' || type===item.type) )
                artists.push(item)
        })
    }

    $('#artistlist').html($.render.artistTmpl(artists))
}

ons.getScriptPage().onInit = function() {
    if(!Modernizr.cssgrid){
        // for browsers that do not support css display grid
        $('#artistlist').addClass('nogridsupport-card')
    }

    // on 1st load, use lazy load for images
    tmplstr=$('#artistlist').clone()
    $.templates('artistTmpl', tmplstr.html());
    get_allregiontype();

    // after that, load image normally (so that when searching it's faster)
    tmplstr.find('img[data-src]').each( function(i,e){
        this.src=this.getAttribute('data-src')
        this.removeAttribute('data-src')
    })
    $.templates('artistTmpl', tmplstr.html());

    $(this).find("ons-pull-hook")[0].onAction = function(done) {
        $.getJSON('/api/artist', function(data) {
            {{uniquename}}_allartists = data;
            get_allregiontype();
            done();
        })
    }
}
ons.getScriptPage().onShow = function() {
    $("#artistlist img[data-src]").lazyLoadXT({show: true})
}
function artist_opensearch() {
    searchmodal=$('#artistSearchModal').show()
}
function search_region_change() {
    region=$('input[name="search_region"]:checked').prop('value')

    if(region==='') {
        $('#search_type_list ons-list-item').show()
    } else {
        $('#search_type_list ons-list-item[value!=""]').hide()
        {{uniquename}}_alltype[region].forEach( function(item) {
            $('#search_type_list ons-list-item[value="'+item+'"]').show()
        })
        if( !$('input[name="search_type"]:checked').is(':visible') )
            $('ons-radio[input-id="t-"]').prop('checked', true)
    }

    search_input_change()
}
function search_input_change() {
    search($('#search_text').prop('value'), $('input[name="search_region"]:checked').prop('value'), $('input[name="search_type"]:checked').prop('value'));
}
function reset_search() {
    $('#search_text').val('')
    $('ons-radio[input-id="r-"]').prop('checked', true)
    $('ons-radio[input-id="t-"]').prop('checked', true)
    search_region_change()
    return false
}
</script>

<style>
#artistlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
#artistlist .card {
    min-width: 140px;
    max-width: 180px;
    height: 240px;
    display: flex;
    flex-direction: column;
}
#artistlist.nogridsupport-card .card {
    width: 175px;
    float:left;
    display: inline;
}
</style>

    <ons-toolbar>
        <div class="center">{{ _('Artist')}}</div>
        <div class="right"><ons-toolbar-button icon="ion-ios-search" onclick="artist_opensearch()"></ons-toolbar-button></div>
    </ons-toolbar>

    <ons-pull-hook>
        <ons-icon icon="md-spinner" size="28px" spin></ons-icon>
    </ons-pull-hook>

    <section id="artistlist" class="center">
        {% raw %}
        <ons-card onclick="artistNavigator.pushPage('/artist/{{:name}}')">
            <div style="flex:1">
                <img src="/image/singer/" data-src="/image/singer/{{:image}}" style="height:100%;width:100%">
            </div>
            <div class="title center">
                {{:name}}
            </div>
            </div>
        </ons-card>
        {% endraw %}
    </section>

    <ons-modal id="artistmodal">
      <ons-icon icon="md-spinner" size="28px" spin></ons-icon> Loading...
    </ons-modal>



    <ons-modal animation="fade" animation-options="{ duration: 0.15 }" id="artistSearchModal" onclick="this.hide();" class="search">
        <ons-page>
            <div class="content">
                <form onsubmit="$('#artistSearchModal').hide();return false">
                    <div class="center" onclick="event.stopPropagation()" style="background-color:white">
                        <ons-list>
                            <ons-list-item>
                                <ons-search-input id="search_text" placeholder="Search" oninput="search_input_change()" style="width:100%"></ons-search-input>
                            </ons-list-item>
                        </ons-list>
                        <ons-list id="search_region_list">
                        </ons-list>
                        <ons-list id="search_type_list">
                        </ons-list>
                        <ons-row>
                            <ons-col style="padding: 10px">
                                <ons-button modifier="large" onclick="reset_search()">{{_('Reset')}}</ons-button>
                            </ons-col>
                            <ons-col style="padding: 10px">
                                <ons-button modifier="large" icon="fa-check" onclick="$('#artistSearchModal').hide();return false">OK</ons-button>
                            </ons-col>
                        </ons-row>
                    </div>
                </form>
            </div>
            <div class="background" style="background-color: transparent"></div>
        </ons-page>
    </ons-modal>

</ons-page>
</ons-navigator>