<!DOCTYPE html>
<html>
<head>
    <title>KTV</title>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="/static/images/icon-180x180.png" />
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/onsenui@2.9.2/css/onsenui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/onsenui@2.9.2/css/onsen-css-components.min.css">
    <!--
    <script src="https://cdn.jsdelivr.net/npm/onsenui@2.9.2/js/onsenui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jqueryui/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsrender/jsrender.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyloadxt@1/dist/jquery.lazyloadxt.js"></script>
    -->
    <!--<script src="https://cdn.jsdelivr.net/combine/npm/onsenui@2.9.2,npm/jquery,npm/jqueryui,npm/jquery-ui-touch-punch,npm/jsrender/jsrender.min.js,npm/lazyloadxt@1/dist/jquery.lazyloadxt.js"></script>-->
    <script src="https://cdn.jsdelivr.net/combine/npm/onsenui@2.9.2,npm/jquery@3.3.1,npm/jqueryui@1.11.1,npm/jquery-ui-touch-punch@0.2.3,npm/jsrender@0.9.90/jsrender.min.js,npm/lazyloadxt@1.1.0/dist/jquery.lazyloadxt.js"></script>

    <script src="/static/js/modernizr-grid.js"></script>
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/app.js"></script>

</head>
<body>

    <ons-tabbar id="tabbar" position="auto">
        <ons-tab name="title" page="/title" icon="md-sort-by-alpha" label="{{_('Title')}}" active></ons-tab>
        <ons-tab name="artist" page="/artist" icon="md-face" label="{{_('Artist')}}" ></ons-tab>
        <ons-tab name="index" page="/index" icon="list-ol" label="{{_('Index')}}" ></ons-tab>
        <ons-tab name="popular" page="/popular" icon="ion-flame" label="{{_('Popular')}}" ></ons-tab>
        <!-- <ons-tab name="network" page="/dlna" icon="md-cast" label="DLNA"></ons-tab>
        <ons-tab name="youtube" page="/youtube" icon="fa-youtube" label="Youtube"></ons-tab> -->
        <ons-tab name="playlist" page="/playlist" icon="list-alt" label="{{_('Playlist')}}" id="playlisttab" badge="0" ></ons-tab>
        <label class="tabbar__item" onclick="$('#quick-functions')[0].show(this)"><button class="tabbar__button"><ons-icon icon="ion-navicon" class="tabbar__icon"></ons-icon></button></label>
    </ons-tabbar>

    <ons-popover cancelable id="quick-functions" class="quick-functions">
        <ons-list>
            <ons-list-item>
                <ons-row>
                    <ons-col>
                        <ons-button modifier="large outline" icon="ion-ios-musical-notes" onclick="$.get('/api/switchchannel')"></ons-button>
                    </ons-col>
                    <ons-col>
                        <ons-button modifier="large outline" icon="ion-ios-skipforward" onclick="$.get('/api/playnextsong')"></ons-button>
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col>
                        <ons-button class="left" modifier="large outline" onclick="$.get('/api/pitchdown')">♭
                        </ons-button>
                    </ons-col>
                    <ons-col>
                        <ons-button modifier="large outline" onclick="$.get('/api/pitchflat')">♮</ons-button>
                    </ons-col>
                    <ons-col>
                        <ons-button class="right" modifier="large outline" onclick="$.get('/api/pitchup')">♯
                        </ons-button>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-popover>

</body>
</html>
